html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
    color: var(--color-text-main);
	background-color: var(--color-bg);
	margin: 0;
	box-sizing: border-box;
    text-decoration: none;
	font-family: 'DataBox', system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: var(--color-text-main);
}

b {
    color: var(--color-green);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--color-selection); 
}

@font-face {
    font-family: 'DataBox';
    src: url('/fonts/DataBox.ttf');
}

::selection {
    background: var(--color-selection);
}

:root {
	--color-bg: #111111;
    --color-bg-transparent: rgba(17,17,17,0);
    --color-text-main: #fff;
    --color-text-navigation: rgba(255,255,255,0.4);
	--color-text-paragraph: rgba(255,255,255,0.4);
	--color-navbar: rgba(29,29,29,0.8);
    --color-blue: #2b99ff;
    --color-red: #FD5B5D;
    --color-green: #38E2B3;
    --color-purple: #b255ff;
    --color-purple-dark: #9446d4;
    --color-pink: #ff5daa;
    --color-yellow: #ffb221;
    --color-white: #fff;
    --color-bg-pink: #ffe5e5;
	--color-bg-greenish: #c0f6e8;
	--duration: 0.25s;
	--border-radius: 8px;
	--color-selection: rgba(255,255,255,.1);
    --color-btn-bg: rgba(255,255,255,0.04);
    --color-btn-bg-highlight: rgba(255,255,255,0.06);
    --color-panel-bg: rgba(255,255,255,0.02);
}